<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ngOnInit()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading && !error">
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.image" alt="{{product.title}}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>R$ {{ product.price | number:'1.2-2' }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tabs/tab1', product.id]">
        Detalhes
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
</ion-content>
