<ion-header>
  <ion-toolbar>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <div class="profile-card">
    <img src="https://avatars.githubusercontent.com/u/171518030?s=60&v=4" alt="Sua foto" class="profile-photo" />
    <h2 class="profile-name">Carlos João dos Santos Filho</h2>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
          <a href="https://github.com/brilhantecarlos" target="_blank">github.com/brilhantecarlos</a>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="logo-linkedin" slot="start"></ion-icon>
        <ion-label>
          <a href="https://linkedin.com/in/brilhantecarlos" target="_blank">linkedin.com/in/brilhantecarlos</a>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>